body{
	height: 100%;
	background-color: #ffffff;
	padding: 0px;
	margin: 0px;
}

ul
{
	list-style-type: none; /*removes bullets from listed items*/
	margin:20px; /*20pixels of space between elements*/
	padding:0px;  /*0 pixels of space on each side of elements*/
	text-align: right; /*aligns navigation list bar to the right*/
}

li 
{
	/*Display all elements of list inline instead of a vertical list*/
	display: inline;
	margin: 15px;
}

#name
{
/*float: left; created some problems so I used 
absolute positioning to manually solve the issue*/
position: absolute;
top: 0px;
left: 0px;
padding-bottom: 0px;	
font-family: 'Covered By Your Grace', cursive;
font-size: 45px;
}


.menubar  /*specific styling for top menubar*/
{
	position: fixed;
	background-color: black;
	color: white;
	padding-top:2px;
	padding-bottom:0px;
	font-family: 'Josefin Sans' , san-serif;
	font-size:37px;
	margin-bottom: 0px; /*prevents blank space between div blocks*/
	float: right;
	width: 100%;
	z-index: 1;  /*stacks on top of all other elements*/
	opacity:0.87;
}

a:link, a:visited
{
	color: #ffffff;
	/*border: 2px solid white;*/
	text-decoration: none; /*removes hyperlink underlining*/
}
a:hover /*mousover color and effects*/
{
	background-color:#ffffff;
	opacity: 0.87;
	color: #000000;

}

.intro
{
	background-color: #000000;
	padding-top: 18%; /*shifts text elements to 1/4th the div length*/
	color: #ffffff;
	min-height: 860px;
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
	text-align: center;
}

.introred /*used for motivational text*/
{
	color: #ff0000;
	background-color: white;
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
	
}



h1 /*default font for all headers*/
{
	font-family: 'Roboto Condensed' , sans-serif;
	font-size: 60px;
}

h2 /*default font for all headers*/
{
	font-family: 'Roboto Condensed' , sans-serif;
	font-size: 44px;
}


p
{
	font-family: 'Roboto Condensed' , sans-serif;
	font-size: 26px;
}


.aboutme  /*Section 1 - About me */
{
	opacity: 0.87;
	padding-top: 5%;
	/*display: inline-block; removes the ANNOYING WHITE SPACE*/
	background-color: white;
	background-position: center;
	background-size: cover; /*stretches image*/
	background-attachment: fixed;
	background-repeat: no-repeat;
	min-width: 100%;
	min-height: 900px;
	font-family: 'Roboto Condensed' , sans-serif;
	font-size:50px;
	display: inline-block;
}

.interests
{
	opacity: 0.87;
	padding-top: 5%;
	/*background-position: center; keeps image centered*/
	background-image: url("../images/DSC05270.JPG");
	background-position: center;
	background-size: cover; /*stretches image*/
	background-attachment: fixed;
	background-repeat: no-repeat;
	min-width: 100%;
	min-height: 900px;
	font-size:50px;
	display: inline-block;
}

.contactme
{
	padding-top: 5%;
	background-color: white;
	min-width:100%;
	min-height: 1000px;
}